@font-face {
  font-family: "din-next-arabic";
  src: url(../fonts/DinNextRegular.eot);
  src: url(../fonts/DinNextRegular.eot) format("embedded-opentype"), url(../fonts/DinNextRegular.woff) format("woff"), url(../fonts/DinNextRegular.ttf) format("truetype"), url(../fonts/DinNextRegular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din-next-arabic-med";
  src: url(../fonts/DinNextMedium.eot);
  src: url(../fonts/DinNextMedium.eot) format("embedded-opentype"), url(../fonts/DinNextMedium.woff) format("woff"), url(../fonts/DinNextMedium.ttf) format("truetype"), url(../fonts/DinNextMedium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}
/****************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

/*****************************************************************/
body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #080 #e6e6e6;
}

body::-webkit-scrollbar-track {
  background: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background-color: #080;
  border-radius: 6px;
  border: 3px solid #e6e6e6;
}

/*********************************************************************/
.page {
  font-family: "din-next-arabic";
}
.page .scroll-top {
  position: fixed;
  left: 3%;
  bottom: 3%;
  background-color: #cca53b;
  transform: rotate(90deg);
  border-radius: 50%;
  z-index: 9999;
  width: 40px;
  height: 40px;
  display: none;
}
.page .scroll-top img {
  width: 40%;
  position: absolute;
  top: 17%;
  left: 27%;
}
.page .scroll-top:hover {
  cursor: pointer;
  background-color: #a5811f;
}
.page .scroll-top:hover img {
  animation: scrollTop 0.5s ease-in-out infinite alternate-reverse;
}
@keyframes scrollTop {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-5px);
  }
}
.page .search-page {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  opacity: 0.9;
  padding: 25% 0;
  display: none;
}
.page .search-page img {
  width: 30px;
  position: absolute;
  left: 2%;
  top: 2%;
}
.page .search-page img:hover {
  cursor: pointer;
}
.page .search-page input {
  width: 30%;
  border: unset;
  border-bottom: 2px solid #080;
  background-color: unset;
  color: #fff;
  font-size: 20px;
  outline: unset;
  text-indent: 8px;
}
.page .search-page button {
  width: 7%;
  border: unset;
  border-bottom: 2px solid #080;
  background-color: unset;
  color: #fff;
  font-size: 20px;
  outline: unset;
  transition: all 0.2s ease-in-out;
}
.page .search-page button:hover {
  border: 1px solid #080;
  background-color: #080;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .page .search-page {
    padding: 80% 0;
  }
  .page .search-page input {
    width: 40%;
    font-size: 18px;
  }
  .page .search-page button {
    width: 22%;
    font-size: 18px;
  }
}

/***************************************************************************/
.header {
  width: 100%;
  position: relative;
}

.header__upper-bar {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.header__upper-bar .header__upper-bar--upper-ul {
  width: 100%;
  height: 100%;
  margin: 0 0 0 80px;
  padding: 10px 0;
  border-bottom: 2px solid rgba(212, 212, 212, 0.22);
}
@media (max-width: 991.98px) {
  .header__upper-bar .header__upper-bar--upper-ul {
    margin: 0;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar .header__upper-bar--upper-ul {
    margin: 0;
  }
}
.header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li {
  float: left;
  color: #fff;
  font-family: "din-next-arabic";
  font-size: 16px;
  margin: 11px 0px;
  line-height: 2;
}
.header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li a {
  color: #fff;
}
.header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li a:hover {
  text-decoration: none;
}
@media (max-width: 991.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li {
    font-size: 14px;
    margin: 0 0 8px 0px;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li {
    font-size: 10px;
    margin: 0 0 5px 0px;
    line-height: 2;
  }
}
.header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:first-child img {
  width: 35px;
}
@media (max-width: 575.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:first-child img {
    width: 20px;
  }
}
.header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li span {
  margin: 0 8px;
}
.header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
  content: " | ";
  padding: 0 28px;
}
@media (max-width: 1199.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
    padding: 0 14px;
  }
}
@media (max-width: 991.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
    padding: 0 46px;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
    padding: 0 8px;
  }
}
@media (max-width: 421.98px) and (min-width: 400.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
    padding: 0 13px;
  }
}
@media (max-width: 320.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
    padding: 0 3px;
  }
}
@media (max-width: 470.98px) and (min-width: 422.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
    padding: 0 16px;
  }
}
@media (max-width: 700.98px) and (min-width: 421.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:not(:last-child)::after {
    padding: 0 22px;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li img {
    width: 20px;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar .header__upper-bar--upper-ul .header__upper-bar--upper-ul--li:last-child img {
    width: 11px;
  }
}

.navbar {
  position: relative;
  z-index: 2;
  direction: rtl;
  float: left;
  padding-left: 80px;
}
@media (max-width: 991.98px) {
  .navbar {
    padding: 16px;
    position: absolute;
    width: 100%;
    right: 0;
    direction: ltr;
  }
  .navbar .navbar-toggler {
    color: #fff;
    border-color: white;
    background-color: #fff;
    padding: 2px 9px;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    padding: 10px;
    position: absolute;
    width: 100%;
    right: 0;
  }
  .navbar .navbar-toggler {
    color: #fff;
    border-color: white;
    background-color: #fff;
    padding: 2px 9px;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}
.navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul {
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul {
    text-align: right;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px;
    padding: 4px 8px;
  }
}
@media (max-width: 575.98px) {
  .navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul {
    text-align: right;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px;
    padding: 4px 8px;
  }
}
.navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul .navbar__navbar-collapse__navbar-ul--item {
  padding: 4px 8px;
}
@media (max-width: 1199.98px) {
  .navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul .navbar__navbar-collapse__navbar-ul--item {
    padding: 4px 0px;
    text-align: right;
  }
}
.navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul .navbar__navbar-collapse__navbar-ul--item a {
  color: #fff;
  font-family: "din-next-arabic";
  font-size: 18px;
}
@media (max-width: 1199.98px) {
  .navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul .navbar__navbar-collapse__navbar-ul--item a {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul .navbar__navbar-collapse__navbar-ul--item a {
    color: #000;
  }
}
@media (max-width: 575.98px) {
  .navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul .navbar__navbar-collapse__navbar-ul--item a {
    color: #000;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar__navbar-collapse .navbar__navbar-collapse__navbar-ul .navbar__navbar-collapse__navbar-ul--item:last-child img {
    background-color: #000;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.brand-logo {
  width: 60%;
  position: relative;
  z-index: 1;
  right: 0px;
  float: right;
}
@media (max-width: 991.98px) {
  .brand-logo {
    width: 80%;
    position: absolute;
    top: 10px;
  }
}
@media (max-width: 575.98px) {
  .brand-logo {
    width: 40%;
    position: absolute;
    top: 10px;
  }
}
.brand-logo .brand-logo__img {
  width: 24%;
}
.brand-logo .brand-logo__img:last-child {
  width: 45%;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  padding: 40px 80px;
  margin-top: 20px;
  direction: rtl;
}
@media (max-width: 575.98px) {
  .footer {
    padding: 40px 10px;
  }
}
.footer .footer__list {
  text-align: right;
}
.footer .footer__list .footer__list--heading {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: "din-next-arabic-med";
}
.footer .footer__list .footer__list__ul .footer__list__ul--li {
  margin: 15px 0;
}
.footer .footer__list .footer__list__ul .footer__list__ul--li a {
  font-family: "din-next-arabic";
  font-size: 15px;
  color: #373435;
}
.footer .footer__list .footer__list__ul .footer__list__ul--li a:hover {
  text-decoration: none;
  color: #000;
}
.footer .footer__brand .footer__brand--img {
  width: 100%;
}

.copy-right {
  width: 100%;
  height: 100%;
  padding: 20px 80px;
  direction: rtl;
  font-family: "din-next-arabic";
  font-size: 15px;
}
@media (max-width: 575.98px) {
  .copy-right {
    padding: 20px 10px;
  }
}
.copy-right .copy-right__right-side {
  text-align: right;
  color: #373435;
}
@media (max-width: 575.98px) {
  .copy-right .copy-right__right-side {
    margin-bottom: 15px;
  }
}
.copy-right .copy-right__left-side {
  height: 100%;
  float: left;
  position: relative;
  left: 4%;
}
.copy-right .copy-right__left-side .copy-right__left-side__ul {
  height: 100%;
}
.copy-right .copy-right__left-side .copy-right__left-side__ul .copy-right__left-side__ul--li {
  float: right;
}
.copy-right .copy-right__left-side .copy-right__left-side__ul .copy-right__left-side__ul--li a {
  color: #373435;
}
.copy-right .copy-right__left-side .copy-right__left-side__ul .copy-right__left-side__ul--li a:hover {
  text-decoration: none;
  color: #000;
}
.copy-right .copy-right__left-side .copy-right__left-side__ul .copy-right__left-side__ul--li:not(:last-child)::after {
  content: " | ";
  margin: 0 5px;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.carousel .carousel__carousel-inner {
  width: 100%;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item {
  width: 100%;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item img {
  height: 100%;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content {
  position: absolute;
  top: 36%;
  right: 80px;
  direction: rtl;
  text-align: right;
  width: 50%;
  color: #fff;
  font-family: "din-next-arabic-med";
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content h3 {
  margin: 25px 0;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content p {
  width: 90%;
  line-height: 1.7;
  font-family: "din-next-arabic";
  font-size: 1.3rem;
  margin-bottom: 2.4rem;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button {
  padding: 2px 4px;
  border-radius: 25px;
  border: none;
  width: 40%;
  line-height: 2;
  background-color: #fff;
  font-size: 18px;
  font-family: "din-next-arabic-med";
  text-align: center;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button img {
  position: relative;
  right: -54px;
  top: -4px;
  background-color: #000;
  padding: 6px 10px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button span {
  position: relative;
  right: -10px;
}
.carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button:hover img {
  transform: translateX(-10px);
}
@media (max-width: 1199.98px) {
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content {
    top: 40%;
    width: 64%;
  }
}
@media (max-width: 991.98px) {
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content {
    top: 50%;
    right: 22px;
    width: 100%;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content h1 {
    margin: 30px 0;
    font-size: 2.5rem;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content h3 {
    margin: 25px 0;
    font-size: 1.8rem;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content p {
    width: 70%;
    line-height: 2;
    font-size: 18px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button {
    width: 30%;
    font-size: 16px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button img {
    right: -42px;
    top: -1px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button span {
    right: -15px;
  }
}
@media (max-width: 575.98px) {
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content {
    top: 25%;
    right: 10px;
    width: 100%;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content h1 {
    margin: 15px 0;
    font-size: 1.5rem;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content h3 {
    margin: 15px 0;
    font-size: 1.2rem;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content p {
    width: 90%;
    line-height: 2;
    font-size: 14px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button {
    width: 90%;
    font-size: 16px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button img {
    right: -92px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button span {
    right: -15px;
  }
}
@media (max-width: 414.98px) and (min-width: 400.98px) {
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button {
    width: 90%;
    font-size: 16px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button img {
    right: -112px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button span {
    right: -15px;
  }
}
@media (max-width: 470.98px) and (min-width: 422.98px) {
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button {
    width: 90%;
    font-size: 16px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button img {
    right: -122px;
    top: -2px;
  }
}
@media (max-width: 700.98px) and (min-width: 471.98px) {
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button {
    width: 90%;
    font-size: 16px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button img {
    right: -144px;
    top: -2px;
  }
}
@media (max-width: 320.98px) {
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button {
    width: 90%;
    font-size: 16px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button img {
    right: -72px;
  }
  .carousel .carousel__carousel-inner .carousel__carousel-inner--item .carousel__carousel-inner--item-main-content button span {
    right: -15px;
  }
}

.news {
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: right;
  direction: rtl;
}
.news .news__title {
  width: 100%;
  height: 100%;
  position: relative;
}
.news .news__title ul {
  font-family: "din-next-arabic-med";
  border-bottom: none;
}
.news .news__title ul li {
  float: right;
  margin: 0 0 0 30px;
}
.news .news__title ul li a {
  color: #b6b6b6;
}
.news .news__title ul li a:hover {
  color: #000;
  cursor: pointer;
  text-decoration: unset;
}
.news .news__title ul li a h2 {
  font-size: 2.5rem;
}
@media (max-width: 575.98px) {
  .news .news__title ul li a h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 330.98px) {
  .news .news__title ul li a h2 {
    font-size: 1rem;
  }
}
.news .news__title ul .active a {
  color: #000;
}
.news .news__title .news__title--see-more {
  float: left;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.news .news__title .news__title--see-more img {
  position: relative;
  right: 0px;
  top: 0px;
  background-color: #cca53b;
  padding: 4px 8px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
.news .news__title .news__title--see-more span {
  font-size: 14px;
  font-weight: 500;
}
.news .news__title .news__title--see-more:hover {
  text-decoration: none;
}
.news .news__title .news__title--see-more:hover img {
  transform: translateX(-10px);
}
.news .border-space {
  width: 100%;
  direction: rtl;
  margin-bottom: 25px;
}
.news .border-space .border-space__seprated {
  width: 10%;
  height: 4px;
  border-radius: 25px;
  background-color: #080;
  position: relative;
}
@media (max-width: 575.98px) {
  .news .border-space .border-space__seprated {
    width: 20%;
  }
}
@media (max-width: 900.98px) and (min-width: 650.98px) {
  .news .border-space .border-space__seprated {
    width: 23%;
  }
}
.news .border-space .active {
  right: 19%;
  width: 14%;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .news .border-space .active {
    right: 26%;
  }
}
@media (max-width: 850.98px) and (min-width: 650.98px) {
  .news .border-space .active {
    right: 35%;
    width: 30%;
  }
}
@media (max-width: 575.98px) {
  .news .border-space .active {
    right: 28%;
    width: 30%;
  }
}
@media (max-width: 500.98px) and (min-width: 400.98px) {
  .news .border-space .active {
    right: 24%;
    width: 30%;
  }
}
@media (max-width: 330.98px) {
  .news .border-space .active {
    right: 32%;
    width: 30%;
  }
}
@media (min-width: 1500.98px) {
  .news .border-space .active {
    right: 12%;
  }
}
@media (max-width: 575.98px) {
  .news {
    padding: 50px 20px;
  }
  .news .news__title {
    position: relative;
  }
  .news .news__title ul li {
    margin: 0 0 0 10px;
  }
  .news .news__title ul li h2 {
    font-size: 1.2rem;
  }
  .news .news__title a {
    top: 0px;
    left: 0px;
  }
  .news .news__title a img {
    padding: 2px 6px;
  }
  .news .news__title a span {
    font-size: 10px;
    font-weight: 400;
  }
}

.tab-content .active {
  display: inline-flex;
}
@media (max-width: 767.98px) {
  .tab-content .active {
    display: block;
  }
}

.news-box .news-box__card {
  border: none;
}
.news-box .news-box__card .news-box__card__card-body {
  padding: 0 0 10px 0;
}
.news-box .news-box__card .news-box__card__card-body .news-box__card__card-body--card-subtitle {
  margin: 20px 0;
}
.news-box .news-box__card .news-box__card__card-body .news-box__card__card-body--card-title {
  font-size: 1.4rem;
  color: #000;
  font-family: "din-next-arabic-med";
  width: 80%;
}
@media (max-width: 991.98px) {
  .news-box .news-box__card .news-box__card__card-body .news-box__card__card-body--card-title {
    font-size: 1rem;
    font-weight: 700;
  }
}
.news-box .news-box__card .news-box__card__card-body .news-box__card__card-body--card-text {
  margin-top: 20px;
  font-size: 15px;
}
@media (max-width: 575.98px) {
  .news-box {
    margin-bottom: 15px;
  }
  .news-box .news-box__card .news-box__card__card-body {
    padding: 0 0 10px 0;
  }
  .news-box .news-box__card .news-box__card__card-body .news-box__card__card-body--card-title {
    font-size: 1rem;
    width: 90%;
  }
  .news-box .news-box__card .news-box__card__card-body .news-box__card__card-body--card-text {
    margin-top: 20px;
  }
}

.services {
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: right;
  direction: rtl;
}
.services .services__title {
  width: 100%;
  height: 100%;
}
.services .services__title ul {
  color: #b6b6b6;
  font-weight: 800;
  font-family: "din-next-arabic-med";
}
.services .services__title ul li {
  float: right;
  margin: 0 0 0 30px;
}
.services .services__title ul li:hover {
  color: #000;
  cursor: pointer;
}
.services .services__title ul li h2 {
  font-size: 2.5rem;
}
.services .services__title ul .active {
  color: #000;
}
.services .services__title a {
  float: left;
  color: #000;
}
.services .services__title a img {
  position: relative;
  right: 0px;
  top: 0px;
  background-color: #cca53b;
  padding: 4px 8px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
.services .services__title a span {
  font-size: 14px;
  font-weight: 500;
}
.services .services__title a:hover {
  text-decoration: none;
}
.services .services__title a:hover img {
  transform: translateX(-10px);
}
.services .border-space {
  width: 100%;
  direction: rtl;
  margin-bottom: 25px;
}
.services .border-space .border-space__seprated {
  width: 10%;
  height: 4px;
  border-radius: 25px;
  background-color: #080;
}
@media (max-width: 575.98px) {
  .services .border-space .border-space__seprated {
    width: 30%;
  }
}
@media (max-width: 575.98px) {
  .services {
    padding: 50px 20px;
  }
  .services .services__title {
    position: relative;
  }
  .services .services__title ul li {
    margin: 0 0 0 10px;
  }
  .services .services__title ul li h2 {
    font-size: 1.2rem;
  }
  .services .services__title a {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .services .services__title a img {
    padding: 2px 6px;
  }
  .services .services__title a span {
    font-size: 10px;
    font-weight: 400;
  }
}

.box-service {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 15px;
}
.box-service .box-service__img {
  width: 100%;
}
.box-service .box-service__img-icon {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 25%;
  background-color: aqua;
  padding: 12px 8px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service .box-service__img-icon {
    bottom: 30%;
  }
}
.box-service .box-service__img-icon--fade {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px 8px;
  border-radius: 50%;
  bottom: 54%;
  margin-right: 16px;
  background-color: #333;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service .box-service__img-icon--fade {
    bottom: 75%;
  }
}
.box-service .box-service__short-p {
  position: absolute;
  right: 0;
  left: 0;
  width: 70%;
  top: 78%;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  font-family: "din-next-arabic-med";
  margin: auto;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service .box-service__short-p {
    top: 74%;
  }
}
.box-service .box-service__overlay {
  background-color: #fff;
  border-top: 3px solid #cca53b;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.box-service .box-service__overlay .box-service__overlay__title {
  font-size: 1rem;
  width: 90%;
  font-family: "din-next-arabic-med";
  color: #000;
  margin-top: 1rem;
}
.box-service .box-service__overlay .box-service__overlay__long-p {
  font-size: 15px;
  font-family: "din-next-arabic";
  margin-top: 10px;
  margin-bottom: 20px;
}
.box-service:hover {
  box-shadow: 0px 11px 10px #3333336e;
}
.box-service:hover .box-service__img-icon {
  opacity: 0;
}
.box-service:hover .box-service__img-icon--fade {
  opacity: 1;
}
.box-service:hover .box-service__overlay {
  top: 50%;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service:hover .box-service__overlay {
    top: 30%;
  }
}
@media (max-width: 575.98px) {
  .box-service {
    margin-bottom: 15px;
  }
}

.survey {
  direction: rtl;
  padding: 0 80px;
  margin-bottom: 40px;
  position: relative;
  height: 100%;
  width: 100%;
}
@media (max-width: 575.98px) {
  .survey {
    padding: 0 10px;
  }
}

.survey__rigth-box-survey {
  width: 100%;
  height: 100%;
  position: relative;
  direction: ltr;
}
@media (max-width: 991.98px) {
  .survey__rigth-box-survey {
    height: 500px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .survey__rigth-box-survey {
    height: 460px;
    margin-bottom: 15px;
  }
}

.carousel-survey {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.carousel-survey .carousel-survey__carousel-indicators .active {
  background-color: #080;
}
.carousel-survey .carousel-survey__carousel-inner {
  height: 100%;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item {
    height: 100%;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item img {
    height: 100%;
  }
}
@media (max-width: 991.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item {
    height: 100%;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item img {
    height: 100%;
  }
}
@media (max-width: 575.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item {
    height: 100%;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item img {
    height: 100%;
  }
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content {
  position: absolute;
  top: 3%;
  right: 4%;
  direction: rtl;
  text-align: right;
  width: 60%;
  color: #000;
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content h1 {
  font-size: 2.9rem;
  margin: 0;
  font-family: "din-next-arabic-med";
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content h3 {
  margin: 16px 0;
  font-family: "din-next-arabic";
  font-size: 2.7rem;
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content p {
  width: 85%;
  line-height: 2;
  margin-bottom: 10px;
  font-family: "din-next-arabic";
  font-size: 15px;
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content button {
  border: none;
  text-align: center;
  float: right;
  margin: 6px 15px;
  width: 35%;
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content button img {
  position: relative;
  width: 100%;
}
@media (max-width: 991.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content {
    right: 10px;
    width: 90%;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content h1 {
    font-size: 1.5rem;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content h3 {
    margin: 9px 0;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content p {
    width: 95%;
    line-height: 1.3;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content button {
    margin: 30px 6px 0;
    width: 40%;
  }
}
@media (max-width: 575.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content {
    right: 10px;
    width: 90%;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content h1 {
    font-size: 1.5rem;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content h3 {
    margin: 9px 0;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content p {
    width: 95%;
    line-height: 1.3;
  }
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content button {
    margin: 30px 6px 0;
    width: 40%;
  }
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content--img {
  width: 30%;
  position: absolute;
  bottom: 12%;
  left: 4%;
}
@media (max-width: 1299.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content--img {
    bottom: 0;
  }
}
@media (max-width: 991.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content--img {
    bottom: 0;
  }
}
@media (max-width: 575.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content--img {
    bottom: 0;
  }
}
@media (min-width: 1500.98px) {
  .carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content--img {
    bottom: 26%;
  }
}
.carousel-survey .carousel-survey__carousel-inner .carousel-survey__carousel-inner--item .carousel-survey__carousel-inner--item-content--img img {
  width: 100%;
}

.survey__left-box-survey {
  width: 100%;
  height: 100%;
  padding: 36px 16px;
  background-color: #fff;
  color: #000;
  box-shadow: -0.5px 3px 13px 0 rgba(0, 0, 0, 0.11);
  text-align: right;
}
@media (min-width: 1500.98px) {
  .survey__left-box-survey {
    padding: 66px 16px;
  }
}
.survey__left-box-survey h3 {
  font-family: "din-next-arabic-med";
  font-size: 1.66rem;
}
.survey__left-box-survey .survey__left-box-survey--p {
  margin: 20px 0;
  font-family: "din-next-arabic-med";
  font-size: 18px;
  color: #000;
}
.survey__left-box-survey .survey__left-box-survey__form-check {
  color: #4e4e4e;
}
.survey__left-box-survey .survey__left-box-survey__form-check .survey__left-box-survey__form-check--label {
  font-family: "din-next-arabic-med";
  font-size: 18px;
  margin-right: 12%;
}
@media (max-width: 991.98px) {
  .survey__left-box-survey .survey__left-box-survey__form-check .survey__left-box-survey__form-check--label {
    margin-right: 4%;
  }
}
@media (max-width: 575.98px) {
  .survey__left-box-survey .survey__left-box-survey__form-check .survey__left-box-survey__form-check--label {
    margin-right: 8%;
  }
}
.survey__left-box-survey .survey__left-box-survey__form-btn {
  width: 90%;
  margin: 15px auto;
}
@media (max-width: 1199.98px) {
  .survey__left-box-survey .survey__left-box-survey__form-btn {
    font-size: 14px;
  }
}
.survey__left-box-survey .survey__left-box-survey__form-btn .survey__left-box-survey__form-btn--btn {
  width: 40%;
  margin: 0 4%;
  border-radius: 20px;
  font-family: "din-next-arabic";
  font-size: 18px;
}
@media (max-width: 1199.98px) {
  .survey__left-box-survey .survey__left-box-survey__form-btn .survey__left-box-survey__form-btn--btn {
    width: 100%;
    margin: 5px auto;
  }
}
.survey__left-box-survey .survey__left-box-survey__form-btn .survey__left-box-survey__form-btn--btn span {
  position: relative;
  top: -4px;
  left: 0;
}

/*****************************************************************************/

/*# sourceMappingURL=main.css.map */
