@font-face {
  font-family: "din-next-arabic";
  src: url(../fonts/DinNextRegular.eot);
  src: url(../fonts/DinNextRegular.eot) format("embedded-opentype"), url(../fonts/DinNextRegular.woff) format("woff"), url(../fonts/DinNextRegular.ttf) format("truetype"), url(../fonts/DinNextRegular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din-next-arabic-med";
  src: url(../fonts/DinNextMedium.eot);
  src: url(../fonts/DinNextMedium.eot) format("embedded-opentype"), url(../fonts/DinNextMedium.woff) format("woff"), url(../fonts/DinNextMedium.ttf) format("truetype"), url(../fonts/DinNextMedium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}
/****************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

/*****************************************************************/
body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #080 #e6e6e6;
}

body::-webkit-scrollbar-track {
  background: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background-color: #080;
  border-radius: 6px;
  border: 3px solid #e6e6e6;
}

/*********************************************************************/
.page {
  font-family: "din-next-arabic";
}

.scroll-top {
  position: fixed;
  left: 3%;
  bottom: 3%;
  background-color: #cca53b;
  transform: rotate(90deg);
  border-radius: 50%;
  z-index: 9999;
  width: 40px;
  height: 40px;
  display: none;
}
.scroll-top:hover {
  cursor: pointer;
  background-color: #a5811f;
}
.scroll-top:hover .scroll-top__img {
  animation: scrollTop 0.5s ease-in-out infinite alternate-reverse;
}

.scroll-top__img {
  width: 40%;
  position: absolute;
  top: 17%;
  left: 27%;
}

@keyframes scrollTop {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-5px);
  }
}
/*********************************************************************/
.search-page {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  opacity: 0.9;
  padding: 25% 0;
  display: none;
}
@media (max-width: 991.98px) {
  .search-page {
    padding: 80% 0;
  }
}

.search-page__img-close {
  width: 30px;
  position: absolute;
  left: 2%;
  top: 2%;
}
.search-page__img-close:hover {
  cursor: pointer;
}

.search-page__input-search {
  width: 30%;
  border: unset;
  border-bottom: 2px solid #080;
  background-color: unset;
  color: #fff;
  font-size: 20px;
  outline: unset;
  text-indent: 8px;
}
@media (max-width: 991.98px) {
  .search-page__input-search {
    width: 40%;
    font-size: 18px;
  }
}

.search-page__button-search {
  width: 7%;
  border: unset;
  border-bottom: 2px solid #080;
  background-color: unset;
  color: #fff;
  font-size: 20px;
  outline: unset;
  transition: all 0.2s ease-in-out;
}
.search-page__button-search:hover {
  border: 1px solid #080;
  background-color: #080;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .search-page__button-search {
    width: 22%;
    font-size: 18px;
  }
}

/***************************************************************************/
.header {
  width: 100%;
  position: relative;
}

.header__upper-bar {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.header__upper-bar--list {
  width: 100%;
  height: 100%;
  margin: 0 0 0 80px;
  padding: 10px 0;
  border-bottom: 2px solid rgba(212, 212, 212, 0.22);
}
@media (max-width: 991.98px) {
  .header__upper-bar--list {
    margin: 0;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar--list {
    margin: 0;
  }
}

.header__upper-bar--list-item {
  float: left;
  color: #fff;
  font-family: "din-next-arabic";
  font-size: 16px;
  margin: 11px 0px;
  line-height: 2;
}
@media (max-width: 991.98px) {
  .header__upper-bar--list-item {
    font-size: 14px;
    margin: 0 0 8px 0px;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar--list-item {
    font-size: 10px;
    margin: 0 0 5px 0px;
    line-height: 2;
  }
}
.header__upper-bar--list-item:first-child .header__upper-bar--img {
  width: 35px;
}
@media (max-width: 575.98px) {
  .header__upper-bar--list-item:first-child .header__upper-bar--img {
    width: 20px;
  }
}
.header__upper-bar--list-item:not(:last-child)::after {
  content: " | ";
  padding: 0 28px;
}
@media (max-width: 1199.98px) {
  .header__upper-bar--list-item:not(:last-child)::after {
    padding: 0 14px;
  }
}
@media (max-width: 991.98px) {
  .header__upper-bar--list-item:not(:last-child)::after {
    padding: 0 46px;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar--list-item:not(:last-child)::after {
    padding: 0 8px;
  }
}
@media (max-width: 421.98px) and (min-width: 400.98px) {
  .header__upper-bar--list-item:not(:last-child)::after {
    padding: 0 13px;
  }
}
@media (max-width: 320.98px) {
  .header__upper-bar--list-item:not(:last-child)::after {
    padding: 0 3px;
  }
}
@media (max-width: 470.98px) and (min-width: 422.98px) {
  .header__upper-bar--list-item:not(:last-child)::after {
    padding: 0 16px;
  }
}
@media (max-width: 700.98px) and (min-width: 421.98px) {
  .header__upper-bar--list-item:not(:last-child)::after {
    padding: 0 22px;
  }
}
@media (max-width: 575.98px) {
  .header__upper-bar--list-item:last-child .header__upper-bar--img {
    width: 11px;
  }
}

.header__upper-bar--link {
  color: #fff;
}
.header__upper-bar--link:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .header__upper-bar--img {
    width: 20px;
  }
}

.header__upper-bar--span {
  margin: 0 8px;
}

.navbar {
  position: relative;
  z-index: 2;
  direction: rtl;
  float: left;
  padding-left: 80px;
}
@media (max-width: 991.98px) {
  .navbar {
    padding: 16px;
    position: absolute;
    width: 100%;
    right: 0;
    direction: ltr;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    padding: 10px;
    position: absolute;
    width: 100%;
    right: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-toggler {
    color: #fff;
    border-color: white;
    background-color: #fff;
    padding: 2px 9px;
  }
}
@media (max-width: 575.98px) {
  .navbar-toggler {
    color: #fff;
    border-color: white;
    background-color: #fff;
    padding: 2px 9px;
  }
}

@media (max-width: 991.98px) {
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}
@media (max-width: 575.98px) {
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}

.navbar__navbar-collapse--list {
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .navbar__navbar-collapse--list {
    text-align: right;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px;
    padding: 4px 8px;
  }
}
@media (max-width: 575.98px) {
  .navbar__navbar-collapse--list {
    text-align: right;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px;
    padding: 4px 8px;
  }
}

.navbar__navbar-collapse--list-item {
  padding: 4px 8px;
}
@media (max-width: 1199.98px) {
  .navbar__navbar-collapse--list-item {
    padding: 4px 0px;
    text-align: right;
  }
}
@media (max-width: 991.98px) {
  .navbar__navbar-collapse--list-item:last-child img {
    background-color: #000;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.navbar__navbar-collapse--link {
  color: #fff !important;
  font-family: "din-next-arabic";
  font-size: 18px;
}
@media (max-width: 1199.98px) {
  .navbar__navbar-collapse--link {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .navbar__navbar-collapse--link {
    color: #000 !important;
  }
}

.brand-logo {
  width: 60%;
  position: relative;
  z-index: 1;
  right: 0px;
  float: right;
}
@media (max-width: 991.98px) {
  .brand-logo {
    width: 80%;
    position: absolute;
    top: 10px;
  }
}
@media (max-width: 575.98px) {
  .brand-logo {
    width: 40%;
    position: absolute;
    top: 10px;
  }
}

.brand-logo__img {
  width: 24%;
}
.brand-logo__img:last-child {
  width: 45%;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  padding: 40px 80px;
  margin-top: 20px;
  direction: rtl;
}
@media (max-width: 575.98px) {
  .footer {
    padding: 40px 10px;
  }
}

.footer__list {
  text-align: right;
}

.footer__list--heading {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: "din-next-arabic-med";
}

.footer__list--li {
  margin: 15px 0;
}

.footer__list--link {
  font-family: "din-next-arabic";
  font-size: 15px;
  color: #373435;
}
.footer__list--link:hover {
  text-decoration: none;
  color: #000;
}

.footer__brand--img {
  width: 100%;
}

.copy-right {
  width: 100%;
  height: 100%;
  padding: 20px 80px;
  direction: rtl;
  font-family: "din-next-arabic";
  font-size: 15px;
}
@media (max-width: 575.98px) {
  .copy-right {
    padding: 20px 10px;
  }
}

.copy-right__right-side {
  text-align: right;
  color: #373435;
}
@media (max-width: 575.98px) {
  .copy-right__right-side {
    margin-bottom: 15px;
  }
}

.copy-right__left-side {
  height: 100%;
  float: left;
  position: relative;
  left: 4%;
}

.copy-right__left-side--ul {
  height: 100%;
}

.copy-right__left-side--li {
  float: right;
}
.copy-right__left-side--li:not(:last-child)::after {
  content: " | ";
  margin: 0 5px;
}

.copy-right__left-side--link {
  color: #373435;
}
.copy-right__left-side--link:hover {
  text-decoration: none;
  color: #000;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel__carousel-inner {
  width: 100%;
}

.carousel__carousel-inner--item {
  width: 100%;
}

.carousel__carousel-inner--img {
  height: 100%;
  width: 100%;
}

.carousel__carousel-inner--content {
  position: absolute;
  top: 36%;
  right: 80px;
  direction: rtl;
  text-align: right;
  width: 50%;
  color: #fff;
  font-family: "din-next-arabic-med";
}
@media (max-width: 1199.98px) {
  .carousel__carousel-inner--content {
    top: 40%;
    width: 64%;
  }
}
@media (max-width: 991.98px) {
  .carousel__carousel-inner--content {
    top: 50%;
    right: 22px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .carousel__carousel-inner--content {
    top: 25%;
    right: 10px;
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .carousel__carousel-inner--heading-one {
    margin: 30px 0;
    font-size: 2.5rem;
  }
}
@media (max-width: 575.98px) {
  .carousel__carousel-inner--heading-one {
    margin: 15px 0;
    font-size: 1.5rem;
  }
}

.carousel__carousel-inner--heading-three {
  margin: 25px 0;
}
@media (max-width: 991.98px) {
  .carousel__carousel-inner--heading-three {
    margin: 25px 0;
    font-size: 1.8rem;
  }
}
@media (max-width: 575.98px) {
  .carousel__carousel-inner--heading-three {
    margin: 15px 0;
    font-size: 1.2rem;
  }
}

.carousel__carousel-inner--pragraph {
  width: 90%;
  line-height: 1.7;
  font-family: "din-next-arabic";
  font-size: 1.3rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 991.98px) {
  .carousel__carousel-inner--pragraph {
    width: 70%;
    line-height: 2;
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .carousel__carousel-inner--pragraph {
    width: 90%;
    line-height: 2;
    font-size: 14px;
  }
}

.carousel__carousel-inner--see-more {
  padding: 2px 4px;
  border-radius: 25px;
  border: none;
  width: 40%;
  line-height: 2;
  background-color: #fff;
  font-size: 18px;
  font-family: "din-next-arabic-med";
  text-align: center;
}
.carousel__carousel-inner--see-more:hover .carousel__carousel-inner--see-more-img {
  transform: translateX(-10px);
}
@media (max-width: 991.98px) {
  .carousel__carousel-inner--see-more {
    width: 30%;
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .carousel__carousel-inner--see-more {
    width: 90%;
    font-size: 16px;
  }
}
@media (max-width: 414.98px) and (min-width: 400.98px) {
  .carousel__carousel-inner--see-more {
    width: 90%;
    font-size: 16px;
  }
}
@media (max-width: 470.98px) and (min-width: 422.98px) {
  .carousel__carousel-inner--see-more {
    width: 90%;
    font-size: 16px;
  }
}
@media (max-width: 700.98px) and (min-width: 471.98px) {
  .carousel__carousel-inner--see-more {
    width: 90%;
    font-size: 16px;
  }
}
@media (max-width: 320.98px) {
  .carousel__carousel-inner--see-more {
    width: 90%;
    font-size: 16px;
  }
}

.carousel__carousel-inner--see-more-img {
  position: relative;
  right: -54px;
  top: -4px;
  background-color: #000;
  padding: 6px 10px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 991.98px) {
  .carousel__carousel-inner--see-more-img {
    right: -42px;
    top: -1px;
  }
}
@media (max-width: 575.98px) {
  .carousel__carousel-inner--see-more-img {
    right: -92px;
  }
}
@media (max-width: 414.98px) and (min-width: 400.98px) {
  .carousel__carousel-inner--see-more-img {
    right: -112px;
  }
}
@media (max-width: 470.98px) and (min-width: 422.98px) {
  .carousel__carousel-inner--see-more-img {
    right: -122px;
    top: -2px;
  }
}
@media (max-width: 700.98px) and (min-width: 471.98px) {
  .carousel__carousel-inner--see-more-img {
    right: -144px;
    top: -2px;
  }
}
@media (max-width: 320.98px) {
  .carousel__carousel-inner--see-more-img {
    right: -72px;
  }
}

.carousel__carousel-inner--see-more-span {
  position: relative;
  right: -10px;
}
@media (max-width: 991.98px) {
  .carousel__carousel-inner--see-more-span {
    right: -15px;
  }
}
@media (max-width: 575.98px) {
  .carousel__carousel-inner--see-more-span {
    right: -15px;
  }
}
@media (max-width: 414.98px) and (min-width: 400.98px) {
  .carousel__carousel-inner--see-more-span {
    right: -15px;
  }
}
@media (max-width: 320.98px) {
  .carousel__carousel-inner--see-more-span {
    right: -15px;
  }
}

.news {
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: right;
  direction: rtl;
}
@media (max-width: 575.98px) {
  .news {
    padding: 50px 20px;
  }
}

.news__title {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 575.98px) {
  .news__title {
    position: relative;
  }
}

.news__title--list {
  font-family: "din-next-arabic-med";
  border-bottom: none;
}
.news__title--list .active a {
  color: #000;
}

.news__title--list-item {
  float: right;
  margin: 0 0 0 30px;
}
@media (max-width: 575.98px) {
  .news__title--list-item {
    margin: 0 0 0 10px;
  }
}

.news__title--link {
  color: #b6b6b6;
}
.news__title--link:hover {
  color: #000;
  cursor: pointer;
  text-decoration: unset;
}

.news__title--heading {
  font-size: 2.5rem;
}
@media (max-width: 575.98px) {
  .news__title--heading {
    font-size: 1.2rem;
  }
}
@media (max-width: 330.98px) {
  .news__title--heading {
    font-size: 1rem;
  }
}

.news__title--see-more {
  float: left;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.news__title--see-more:hover {
  text-decoration: none;
  color: #000;
}
.news__title--see-more:hover .news__title--img {
  transform: translateX(-10px);
}
@media (max-width: 575.98px) {
  .news__title--see-more {
    top: 0;
    left: 0;
  }
}

.news__title--span {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .news__title--span {
    font-size: 10px;
    font-weight: 400;
  }
}

.news__title--img {
  position: relative;
  right: 0px;
  top: 0px;
  background-color: #cca53b;
  padding: 4px 8px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 575.98px) {
  .news__title--img {
    padding: 2px 6px;
  }
}

.border-space {
  width: 100%;
  direction: rtl;
  margin-bottom: 25px;
}
.border-space .active {
  right: 19%;
  width: 14%;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .border-space .active {
    right: 26%;
  }
}
@media (max-width: 850.98px) and (min-width: 650.98px) {
  .border-space .active {
    right: 35%;
    width: 30%;
  }
}
@media (max-width: 575.98px) {
  .border-space .active {
    right: 28%;
    width: 30%;
  }
}
@media (max-width: 500.98px) and (min-width: 400.98px) {
  .border-space .active {
    right: 24%;
    width: 30%;
  }
}
@media (max-width: 330.98px) {
  .border-space .active {
    right: 32%;
    width: 30%;
  }
}
@media (min-width: 1500.98px) {
  .border-space .active {
    right: 12%;
  }
}

.border-space__seprated {
  width: 10%;
  height: 4px;
  border-radius: 25px;
  background-color: #080;
  position: relative;
}
@media (max-width: 575.98px) {
  .border-space__seprated {
    width: 20%;
  }
}
@media (max-width: 900.98px) and (min-width: 650.98px) {
  .border-space__seprated {
    width: 23%;
  }
}

.news__tab-content .active {
  display: inline-flex;
}
@media (max-width: 767.98px) {
  .news__tab-content .active {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .news-box {
    margin-bottom: 15px;
  }
}

.news-box__card {
  border: none;
}

.news-box__img {
  width: 100%;
}

.news-box__card-body {
  padding: 0 0 10px 0;
}
@media (max-width: 575.98px) {
  .news-box__card-body {
    padding: 0 0 10px 0;
  }
}

.news-box__card-body--card-subtitle {
  margin: 20px 0;
}

.news-box__card-body--card-title {
  font-size: 1.4rem;
  color: #000;
  font-family: "din-next-arabic-med";
  width: 80%;
}
@media (max-width: 991.98px) {
  .news-box__card-body--card-title {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media (max-width: 575.98px) {
  .news-box__card-body--card-title {
    font-size: 1rem;
    width: 90%;
  }
}

.news-box__card-body--card-text {
  margin-top: 20px;
  font-size: 15px;
  font-family: "din-next-arabic";
}
@media (max-width: 575.98px) {
  .news-box__card-body--card-text {
    margin-top: 20px;
  }
}

.services {
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: right;
  direction: rtl;
}
@media (max-width: 575.98px) {
  .services {
    padding: 50px 20px;
  }
}

.services__title {
  width: 100%;
  height: 100%;
}
@media (max-width: 575.98px) {
  .services__title {
    position: relative;
  }
}

.services__title--list {
  color: #b6b6b6;
  font-weight: 800;
  font-family: "din-next-arabic-med";
}

.services__title--item {
  float: right;
  margin: 0 0 0 30px;
  color: #000;
}
@media (max-width: 575.98px) {
  .services__title--item {
    margin: 0 0 0 10px;
  }
}

.services__title--heading {
  font-size: 2.5rem;
}
@media (max-width: 575.98px) {
  .services__title--heading {
    font-size: 1.2rem;
  }
}

.services__title--see-more {
  float: left;
  color: #000;
}
.services__title--see-more:hover {
  text-decoration: none;
  color: #000;
}
.services__title--see-more:hover .services__title--img {
  transform: translateX(-10px);
}
@media (max-width: 575.98px) {
  .services__title--see-more {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.services__title--span {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .services__title--span {
    font-size: 10px;
    font-weight: 400;
  }
}

.services__title--img {
  position: relative;
  right: 0px;
  top: 0px;
  background-color: #cca53b;
  padding: 4px 8px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 575.98px) {
  .services__title--img {
    padding: 2px 6px;
  }
}

.services__border-space {
  width: 100%;
  direction: rtl;
  margin-bottom: 25px;
}

.services__border-space--seprated {
  width: 10%;
  height: 4px;
  border-radius: 25px;
  background-color: #080;
}
@media (max-width: 575.98px) {
  .services__border-space--seprated {
    width: 30%;
  }
}

.box-service {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 15px;
}
.box-service:hover {
  box-shadow: 0px 11px 10px #3333336e;
}
.box-service:hover .box-service__img-icon {
  opacity: 0;
}
.box-service:hover .box-service__img-icon--fade {
  opacity: 1;
}
.box-service:hover .box-service__overlay {
  top: 50%;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service:hover .box-service__overlay {
    top: 30%;
  }
}
@media (max-width: 575.98px) {
  .box-service {
    margin-bottom: 15px;
  }
}

.box-service__img {
  width: 100%;
}

.box-service__img-icon {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 25%;
  background-color: aqua;
  padding: 12px 8px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service__img-icon {
    bottom: 30%;
  }
}

.box-service__img-icon--fade {
  bottom: 54%;
  margin-right: 16px;
  background-color: #333;
  opacity: 0;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service__img-icon--fade {
    bottom: 75%;
  }
}

.box-service__short-p {
  position: absolute;
  right: 0;
  left: 0;
  width: 70%;
  top: 78%;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  font-family: "din-next-arabic-med";
  margin: auto;
}
@media (max-width: 1100px) and (min-width: 991px) {
  .box-service__short-p {
    top: 74%;
  }
}

.box-service__overlay {
  background-color: #fff;
  border-top: 3px solid #cca53b;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.box-service__overlay--title {
  font-size: 1rem;
  width: 90%;
  font-family: "din-next-arabic-med";
  color: #000;
  margin-top: 1rem;
}

.box-service__overlay--long-p {
  font-size: 15px;
  font-family: "din-next-arabic";
  margin-top: 10px;
  margin-bottom: 20px;
}

.survey {
  direction: rtl;
  padding: 0 80px;
  margin-bottom: 40px;
  position: relative;
  height: 100%;
  width: 100%;
}
@media (max-width: 575.98px) {
  .survey {
    padding: 0 10px;
  }
}

.survey__right-box {
  width: 100%;
  height: 100%;
  position: relative;
  direction: ltr;
}
@media (max-width: 991.98px) {
  .survey__right-box {
    height: 500px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .survey__right-box {
    height: 460px;
    margin-bottom: 15px;
  }
}

.survey__right-box--carousel-survey {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.survey__right-box--carousel-indicators .active {
  background-color: #080;
}

.survey__right-box--carousel-inner {
  height: 100%;
  width: 100%;
}

@media (max-width: 1199.98px) {
  .survey__right-box--slide {
    height: 100%;
  }
}

@media (max-width: 1199.98px) {
  .survey__right-box--img {
    height: 100%;
  }
}

.survey__right-box--content {
  position: absolute;
  top: 3%;
  right: 4%;
  direction: rtl;
  text-align: right;
  width: 60%;
  color: #000;
}
@media (max-width: 991.98px) {
  .survey__right-box--content {
    right: 10px;
    width: 90%;
  }
}

.survey__right-box--heading-one {
  font-size: 2.9rem;
  margin: 0;
  font-family: "din-next-arabic-med";
}
@media (max-width: 991.98px) {
  .survey__right-box--heading-one {
    font-size: 1.5rem;
  }
}

.survey__right-box--heading-three {
  margin: 16px 0;
  font-family: "din-next-arabic";
  font-size: 2.7rem;
}
@media (max-width: 991.98px) {
  .survey__right-box--heading-three {
    margin: 9px 0;
  }
}

.survey__right-box--pragraph {
  width: 85%;
  line-height: 2;
  margin-bottom: 10px;
  font-family: "din-next-arabic";
  font-size: 15px;
}
@media (max-width: 991.98px) {
  .survey__right-box--pragraph {
    width: 95%;
    line-height: 1.3;
  }
}

.survey__right-box--download {
  border: none;
  text-align: center;
  float: right;
  margin: 6px 15px;
  width: 35%;
}
@media (max-width: 991.98px) {
  .survey__right-box--download {
    margin: 30px 6px 0;
    width: 40%;
  }
}

.survey__right-box--download-img {
  position: relative;
  width: 100%;
}

.survey__right-box--mob {
  width: 30%;
  position: absolute;
  bottom: 12%;
  left: 4%;
}
@media (max-width: 1299.98px) {
  .survey__right-box--mob {
    bottom: 0;
  }
}
@media (max-width: 991.98px) {
  .survey__right-box--mob {
    bottom: 0;
  }
}
@media (max-width: 575.98px) {
  .survey__right-box--mob {
    bottom: 0;
  }
}
@media (min-width: 1500.98px) {
  .survey__right-box--mob {
    bottom: 26%;
  }
}

.survey__right-box--mob-img {
  width: 100%;
}

.survey__left-box {
  width: 100%;
  height: 100%;
  padding: 36px 16px;
  background-color: #fff;
  color: #000;
  box-shadow: -0.5px 3px 13px 0 rgba(0, 0, 0, 0.11);
  text-align: right;
}
@media (min-width: 1500.98px) {
  .survey__left-box {
    padding: 66px 16px;
  }
}

.survey__left-box--title {
  font-family: "din-next-arabic-med";
  font-size: 1.66rem;
}

.survey__left-box--pragraph {
  margin: 20px 0;
  font-family: "din-next-arabic-med";
  font-size: 18px;
  color: #000;
}

.survey__left-box--form-check {
  color: #4e4e4e;
}

.survey__left-box--label {
  font-family: "din-next-arabic-med";
  font-size: 18px;
  margin-right: 12%;
}
@media (max-width: 991.98px) {
  .survey__left-box--label {
    margin-right: 4%;
  }
}
@media (max-width: 575.98px) {
  .survey__left-box--label {
    margin-right: 8%;
  }
}

.survey__left-box--form-btn {
  width: 90%;
  margin: 15px auto;
}
@media (max-width: 1199.98px) {
  .survey__left-box--form-btn {
    font-size: 14px;
  }
}

.survey__left-box--action-btn {
  width: 40%;
  margin: 0 4%;
  border-radius: 20px;
  font-family: "din-next-arabic";
  font-size: 18px;
}
@media (max-width: 1199.98px) {
  .survey__left-box--action-btn {
    width: 100%;
    margin: 5px auto;
  }
}

.survey__left-box--span {
  position: relative;
  top: -4px;
  left: 0;
}

/*****************************************************************************/

/*# sourceMappingURL=main.css.map */
