// Start Survey

.survey {
  direction: rtl;
  padding: 0 80px;
  margin-bottom: 40px;
  position: relative;
  height: 100%;
  width: 100%;
  @media (max-width: 575.98px) {
    padding: 0 10px;
  }
}
// Start Right Side

.survey__right-box {
  width: 100%;
  height: 100%;
  position: relative;
  direction: ltr;
  @media (max-width: 991.98px) {
    height: 500px;
    margin-bottom: 15px;
  }
  @media (max-width: 575.98px) {
    height: 460px;
    margin-bottom: 15px;
  }
}
// Start Slider

.survey__right-box--carousel-survey {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.survey__right-box--carousel-indicators {
  .active {
    background-color: #080;
  }
}

.survey__right-box--carousel-inner {
  height: 100%;
  width: 100%;
}

.survey__right-box--slide {
  @media (max-width: 1199.98px) {
    height: 100%;
  }
}

.survey__right-box--img {
  @media (max-width: 1199.98px) {
    height: 100%;
  }
}

.survey__right-box--content {
  position: absolute;
  top: 3%;
  right: 4%;
  direction: rtl;
  text-align: right;
  width: 60%;
  color: #000;
  @media (max-width: 991.98px) {
    right: 10px;
    width: 90%;
  }
}

.survey__right-box--heading-one {
  font-size: 2.9rem;
  margin: 0;
  font-family: "din-next-arabic-med";
  @media (max-width: 991.98px) {
    font-size: 1.5rem;
  }
}

.survey__right-box--heading-three {
  margin: 16px 0;
  font-family: "din-next-arabic";
  font-size: 2.7rem;
  @media (max-width: 991.98px) {
    margin: 9px 0;
  }
}

.survey__right-box--pragraph {
  width: 85%;
  line-height: 2;
  margin-bottom: 10px;
  font-family: "din-next-arabic";
  font-size: 15px;
  @media (max-width: 991.98px) {
    width: 95%;
    line-height: 1.3;
  }
}

.survey__right-box--download {
  border: none;
  text-align: center;
  float: right;
  margin: 6px 15px;
  width: 35%;
  @media (max-width: 991.98px) {
    margin: 30px 6px 0;
    width: 40%;
  }
}

.survey__right-box--download-img {
  position: relative;
  width: 100%;
}

.survey__right-box--mob {
  width: 30%;
  position: absolute;
  bottom: 12%;
  left: 4%;
  @media (max-width: 1299.98px) {
    bottom: 0;
  }
  @media (max-width: 991.98px) {
    bottom: 0;
  }
  @media (max-width: 575.98px) {
    bottom: 0;
  }
  @media (min-width: 1500.98px) {
    bottom: 26%;
  }
}

.survey__right-box--mob-img {
  width: 100%;
}

// End Slider

// End Right Side

// Start left Side

.survey__left-box {
  width: 100%;
  height: 100%;
  padding: 36px 16px;
  background-color: #fff;
  color: #000;
  box-shadow: -0.5px 3px 13px 0 rgba(0, 0, 0, 0.11);
  text-align: right;
  @media (min-width: 1500.98px) {
    padding: 66px 16px;
  }
}

.survey__left-box--title {
  font-family: "din-next-arabic-med";
  font-size: 1.66rem;
}

.survey__left-box--pragraph {
  margin: 20px 0;
  font-family: "din-next-arabic-med";
  font-size: 18px;
  color: #000;
}

.survey__left-box--form-check {
  color: #4e4e4e;
}

.survey__left-box--label {
  font-family: "din-next-arabic-med";
  font-size: 18px;
  margin-right: 12%;
  @media (max-width: 991.98px) {
    margin-right: 4%;
  }
  @media (max-width: 575.98px) {
    margin-right: 8%;
  }
}

.survey__left-box--form-btn {
  width: 90%;
  margin: 15px auto;
  @media (max-width: 1199.98px) {
    font-size: 14px;
  }
}

.survey__left-box--action-btn {
  width: 40%;
  margin: 0 4%;
  border-radius: 20px;
  font-family: "din-next-arabic";
  font-size: 18px;
  @media (max-width: 1199.98px) {
    width: 100%;
    margin: 5px auto;
  }
}

.survey__left-box--span {
  position: relative;
  top: -4px;
  left: 0;
}

// End left Side

// End Survey
