

        // Start Survey

        .survey{
            direction: rtl;
            padding: 0 80px;
            margin-bottom: 40px;
            position: relative;
            height: 100%;
            width: 100%;
            @media (max-width: 575.98px){
                padding: 0 10px;
            }

        }
            // Start Right Side

            .survey__rigth-box-survey{
                width: 100%;
                height: 100%;
                position: relative;
                direction: ltr;
                @media (max-width: 991.98px){
                    height: 500px;
                    margin-bottom: 15px;
                }
                @media (max-width: 575.98px){
                    height: 460px;
                    margin-bottom: 15px;
                }
            }
            // Start Slider

            .carousel-survey{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                .carousel-survey__carousel-indicators{
                    .active{
                        background-color: #080;
                    }
                }
                .carousel-survey__carousel-inner{
                    height: 100%;
                    width: 100%;
                    .carousel-survey__carousel-inner--item{
                        @media (max-width: 1199.98px){
                            height: 100%;
                            img{
                                height: 100%;
                            }
                        }
                        @media (max-width: 991.98px){
                            height: 100%;
                            img{
                                height: 100%;
                            }
                        }
                        @media (max-width: 575.98px){
                            height: 100%;
                            img{
                                height: 100%;
                            }
                        }
                        .carousel-survey__carousel-inner--item-content{
                            position: absolute;
                            top: 3%;
                            right: 4%;
                            direction: rtl;
                            text-align: right;
                            width: 60%;
                            color: #000;
                            h1{
                                font-size: 2.9rem;
                                margin: 0;
                                font-family: "din-next-arabic-med";
                            }
                            h3{
                                margin: 16px 0;
                                font-family: "din-next-arabic";
                                font-size: 2.7rem;
                            }
                            p{
                                width: 85%;
                                line-height: 2;
                                margin-bottom: 10px;
                                font-family: "din-next-arabic";
                                font-size: 15px;
                            }
                            button{
                                border: none;
                                text-align: center;
                                float: right;
                                margin: 6px 15px;
                                width: 35%;
                                img{
                                    position: relative;
                                    width: 100%;
                                    
                                }
                            }
                            @media (max-width: 991.98px){
                                right: 10px;
                                width: 90%;
                                h1{
                                    font-size: 1.5rem;
                                }
                                h3{
                                    margin: 9px 0;
                                }
                                p{
                                    width: 95%;
                                    line-height: 1.3;
                                }
                                button{
                                    margin: 30px 6px 0;
                                    width: 40%;
                                }
                            }
                            @media (max-width: 575.98px){
                                right: 10px;
                                width: 90%;
                                h1{
                                    font-size: 1.5rem;
                                }
                                h3{
                                    margin: 9px 0;
                                }
                                p{
                                    width: 95%;
                                    line-height: 1.3;
                                }
                                button{
                                    margin: 30px 6px 0;
                                    width: 40%;
                                }
                            }
                    }
                    .carousel-survey__carousel-inner--item-content--img{
                        width: 30%;
                        position: absolute;
                        bottom: 12%;
                        left: 4%;
                        @media (max-width: 1299.98px){
                            bottom: 0;
                        }
                        @media (max-width: 991.98px){
                            bottom: 0;
                        }
                        @media (max-width: 575.98px){
                            bottom: 0;
                        }
                        @media (min-width: 1500.98px){
                            bottom: 26%;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
                }
            }

            // End Slider

            // End Right Side

            // Start left Side

            .survey__left-box-survey{
                width: 100%;
                height: 100%;
                padding: 36px 16px;
                background-color: #fff;
                color: #000;
                box-shadow: -0.5px 3px 13px 0 rgba(0, 0, 0, 0.11);
                text-align: right;
                @media (min-width: 1500.98px){
                    padding: 66px 16px;
                }
                h3{
                    font-family: "din-next-arabic-med";
                    font-size: 1.66rem;
                }
                .survey__left-box-survey--p{
                    margin: 20px 0;
                    font-family: "din-next-arabic-med";
                    font-size: 18px;
                    color: #000;
                }
                .survey__left-box-survey__form-check{
                    color: #4e4e4e;
                    .survey__left-box-survey__form-check--label{
                        font-family: "din-next-arabic-med";
                        font-size: 18px;
                        margin-right: 12%;
                        @media (max-width: 991.98px){
                            margin-right: 4%;
                        }
                        @media (max-width: 575.98px){
                            margin-right: 8%;
                        }
                    }
                }
                .survey__left-box-survey__form-btn{
                    width: 90%;
                    margin: 15px auto;
                    @media (max-width: 1199.98px){
                        font-size: 14px;
                    }
                    .survey__left-box-survey__form-btn--btn{
                        width: 40%;
                        margin: 0 4%;
                        border-radius: 20px;
                        font-family: "din-next-arabic";
                        font-size: 18px;
                        @media (max-width: 1199.98px){
                            width: 100%;
                            margin: 5px auto;
                        }
                        span{
                            position: relative;
                            top: -4px;
                            left: 0;
                        }
                    }
                }
            }

            // End left Side


        // End Survey
